*body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
$common-font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$common-background-color:rgb(233, 230, 224);
@import url("mixin");

// Navbar Section
.header{
    display: flex;
    margin-top: -90px;
    margin-bottom: 0px;
    height: 60px;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 20;
    
    .navbar{
        display: flex;
        
        a h1{
              font-size: 30px;
                color: black;
                font-family: $common-font;
                letter-spacing: 2px;
                font-weight: lighter;
                

            }
    nav ul {
        display: flex ;
        justify-content: center;
        align-items: center;
        gap: 40px;
        list-style: none;
        // background-color: white;
        width: 100%;
      
        
        #sale{
            margin-right: 30px;
        }
        #search{
            margin-left: 165px;
        }
        li a{
            text-decoration: none;
            margin: 0px 10px;
            color: black; 
            font-family: $common-font;
            h1{
         @include heading1();
            }
            
        }
   
    }
    }
    
}
// Hero Section
.hero{
    padding-top: 100px;
    video{
    width: 100%;
}
}
// glam section
.glam{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    margin-top: 50px;
    
    img{
    
        height: 100%;
        width: 400px;
    }
}
// we love section
.weLove{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: $common-background-color;
    margin-top: 70px;
    h3{
        text-align: center;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 30px;
        font-size: x-large;
        i{
            margin-left: 10px;
            font-size: 15px;
        }
    }
   .card-section{
    @include card-section();
   }
   .card{
    @include cards();
    overflow: hidden;
   @include image_transition();
   }
}
// shop by category
.Shop_by_category{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    h2{
        font-family: $common-font;
    }
    .category{
        display: flex;
        justify-content: start;
        align-items: center;
        a{
            text-decoration: none;
            list-style: none;
            color: #c7cbd1;
            font-size: x-large;
            font-family: $common-font;
          
        }
          #tops{
                color: black;
                font-weight: 800;
            }
        a:hover{
            color: black;
            font-weight: 700;
            cursor: pointer;
        }
        i{
            font-size: larger;
            margin: 0px 10px;
        }
    }
    .card-section{
        @include card-section();
    }
    .card{
        @include cards();
          overflow: hidden;
   @include image_transition();
    }
}
// footerSection
.footer{
    margin-top: 60px;
    background-color:$common-background-color;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 140px 40px 140px 40px;
    justify-content: center;
    align-items: start; 
    
    h1{
        @include heading1();
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
        gap: 20px;
        p{
            margin-top: 30px;
            line-height: 30px;
        }
        img{
            height: 30px;
            margin-top: 20px;
            margin-bottom: -80px;
        }
        h4{
         margin-top: 30px;
         margin-bottom: -35px;
        }

    }
   border-bottom: 1px solid white;
}
footer{
    text-align: center;
    padding: 50px;
    background-color: $common-background-color;
}


